@charset "utf-8";
/*Custom CSS*/

html {
    overflow-y: scroll;
}

body {
    margin: 0px;
}

/*header*/

.navbar-nav{
     font-family: 'Slabo', serif;
     font-size: 22px;
}

#logotext{
    font-family: 'Audiowide', cursive;
    font-size: 25px;
    line-height: 35px;
    padding-top: 12px;
}

#logotext a{
    color:white;
    text-decoration: none;
}

/*body*/
.jumbotron {
    height: 400px;
    background-image: url(../images/Portrait.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron h1{
    font-family: 'Slabo', serif;
    color: white;
    text-decoration: underline;
    text-shadow: 2px 2px #000000;
}

.jumbotron p{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: left;
    text-shadow: 2px 2px #000000;
}

.carousel-control-next-icon {
    height: 40px;
    width: 30px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    height: 40px;
    width: 30px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-item img{
    max-height: 300px;
}

.aboutfood, .aboutdrawing, .aboutkendama {
    padding-right:20px;
    padding-left: 20px;
}

.aboutfood h1{
    font-family: 'Slabo', serif;
}

.aboutkendama h1{
    font-family: 'Slabo', serif;
}

.aboutdrawing h1{
    font-family: 'Slabo', serif;
}

.aboutfood, .aboutdrawing, .aboutkendama p{
    font-family: 'Poppins', sans-serif;
    line-height: 35px;
}

/*footer*/
#footerleft li{
    display: inline;
    float: left;
    font-size: 16px;
    padding: 5px;
    list-style:none;
    text-decoration: none;
}

#footerleft{
    padding-left: 15px;
    padding-top: 15px;
}

#footerleft a{
    color: white;
    text-decoration: none;
}

#footermid{
    font-size: 16px;
    padding:10px;
    color: white;
    text-align: center;
}

#socialmedia a {
    text-decoration: none;
    padding:5px;
}